<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartrecipe"
        tools:replace="android:theme,android:label"
        tools:targetApi="31">

        <activity android:name="com.example.smartrecipe.ui.user.FeedbackActivity" />
        <activity android:name="com.example.smartrecipe.ui.user.IngredientManageActivity" />
        <activity android:name="com.example.smartrecipe.ui.user.ChangePasswordActivity" />
        <activity android:name="com.example.smartrecipe.ui.user.ChangeUsernameActivity" />
        <activity android:name="com.example.smartrecipe.ui.user.ProfileActivity" />
        <activity android:name="com.example.smartrecipe.ui.user.HistoryActivity" />
        <activity android:name="com.example.smartrecipe.ui.user.FavoritesActivity" />
        <activity android:name="com.example.smartrecipe.ui.user.UserPreferenceActivity" />
        <activity android:name="com.example.smartrecipe.ui.auth.AuthActivity" />
        <activity android:name="com.example.smartrecipe.ui.voice.VoiceActivity" />
        <activity android:name="com.example.smartrecipe.ui.detail.RecipeDetailActivity" />
        <activity android:name="com.example.smartrecipe.ui.recognize.RecognizeResultActivity" />
        <activity android:name="com.example.smartrecipe.ui.recognize.RecognizeActivity" />

        <activity
            android:name="com.example.smartrecipe.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
